<div class="container">
	<h1>Search Results:</h1>
<h3><%= @total_count %> Total Stores</h3>
<% @stores.each do |store| %>

<div class="container">
	<div class="store" id="<%= store.phone %>">
	<%= link_to "Store Name: #{store.name}", "/stores/#{store.id}" %>
	City: <%= store.city %><br>
	Store Type: <%= store.type %><br>
	Distance: <%= store.distance %> miles<br>
	Phone #: <%= store.phone %><br>
</div>
</div>

<% end %>
</div>
